# Analisis Trending Video Youtube Indonesia

## Kelompok ANAK SD
- Hafiz Bhadrika Alamsyah (1906399650)
- Nofaldi Fikrul Atmam (1906398420)
- Dzikri Qalam Hatorangan (2006595854)

## Data Set
‚ÄúStarter: Indonesia‚Äôs Trending YouTube 298d8341-4‚Äù <br/>
https://www.kaggle.com/code/kerneler/starter-indonesia-s-trending-youtube-298d8341-4/data

## Import Section

In [2]:
import pandas as pd
from isodate import parse_duration

## Pre Defined Function

> Menghitung unique value pada kolom

In [3]:
def count_unique(cols):
    print("<-- Unique Value Counter -->")
    for x in cols:
        uq = data[x].unique()
        print(f"{x} - {len(uq)} value")

## Data Cleaning

In [4]:
# Import data
data = pd.read_csv('trending.csv')
data.head()

/var/folders/mz/1l3fv5hn18v74489wk7zp94m0000gp/T/ipykernel_8044/4111168274.py:2: DtypeWarning: Columns (0,5) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('trending.csv')

,video_id,publish_time,channel_id,title,description,thumbnail_url,thumbnail_width,thumbnail_height,channel_name,tags,...,caption,license_status,allowed_region,blocked_region,view,like,dislike,favorite,comment,trending_time
0,NaN,2021-02-05T09:00:34Z,UCEf_Bc-KVd7onSeifS3py9g,aespa ÏóêÏä§Ìåå 'Forever (ÏïΩÏÜç)' MV,"aespa's new single ""Forever"" is out!\nListen a...",NaN,NaN,NaN,SMTOWN,NaN,...,True,True,NaN,NaN,7806846.0,857902.0,24078.0,0,94961.0,2021-02-07 05:46:51.832614+00:00
1,NaN,2021-02-04T15:54:08Z,UCYEa4_MC7OFjcWrO6SO-u8g,[FULL] Siapa di Balik Kudeta AHY? | Dua Sisi t...,"Jakarta, https://www.tvonenews.com - Ketua umu...",NaN,NaN,NaN,Indonesia Lawyers Club,"['tvone', 'tv one', 'tvonenews', 'indonesia la...",...,False,True,NaN,NaN,885038.0,6765.0,1263.0,0,6365.0,2021-02-07 05:46:51.832649+00:00
2,NaN,2021-02-06T03:00:22Z,UCu12RxQjRQyh79YBYvEDkOg,CABRIOLET CHALLENGE: TANTANGAN MENGGODA (7/12),Road Party Season 2: Cabriolet Challenge\n\nEp...,NaN,NaN,NaN,Motomobi,"['MotoMobi', 'Mobil', 'motor', 'review', 'indo...",...,False,True,NaN,NaN,889708.0,47895.0,532.0,0,8785.0,2021-02-07 05:46:51.832664+00:00
3,NaN,2021-02-05T20:26:08Z,UCCuzDCoI3EUOo_nhCj4noSw,With Windah Basudara & Hans,Join this channel to get access to perks:\nhtt...,NaN,NaN,NaN,yb,NaN,...,False,True,NaN,NaN,1006854.0,91973.0,3967.0,0,12957.0,2021-02-07 05:46:51.832678+00:00
4,NaN,2021-02-03T23:14:54Z,UC14UlmYlSNiQCBe9Eookf_A,ü§Ø LATE COMEBACK DRAMA! | HIGHLIGHTS | Granada ...,"With just two minutes to play, Bar√ßa looked to...",NaN,NaN,NaN,FC Barcelona,"['FC Barcelona', 'ÿ®ÿ±ÿ¥ŸÑŸàŸÜÿ©ÿå', 'F√∫tbol', 'FUTBOL...",...,False,True,NaN,NaN,6275035.0,218131.0,4289.0,0,12799.0,2021-02-07 05:46:51.832730+00:00

In [5]:
# Check total rows and columns
print(f"{data.shape[0]} row and {data.shape[1]} column")

87172 row and 27 column

In [6]:
# Data set information
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87172 entries, 0 to 87171
Data columns (total 27 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   video_id           34050 non-null  object
 1   publish_time       87172 non-null  object
 2   channel_id         87172 non-null  object
 3   title              87172 non-null  object
 4   description        83394 non-null  object
 5   thumbnail_url      34050 non-null  object
 6   thumbnail_width    34050 non-null  float64
 7   thumbnail_height   34050 non-null  float64
 8   channel_name       87172 non-null  object
 9   tags               75046 non-null  object
 10  category_id        87172 non-null  int64
 11  live_status        87172 non-null  object
 12  local_title        87172 non-null  object
 13  local_description  83394 non-null  object
 14  duration           87172 non-null  object
 15  dimension          87172 non-null  object
 16  definition         87172 non-null  object
 17  caption            87172 non-null  bool
 18  license_status     87172 non-null  bool
 19  allowed_region     2628 non-null   object
 20  blocked_region     3097 non-null   object
 21  view               87162 non-null  float64
 22  like               86331 non-null  float64
 23  dislike            53630 non-null  float64
 24  favorite           87172 non-null  int64
 25  comment            86788 non-null  float64
 26  trending_time      87172 non-null  object
dtypes: bool(2), float64(6), int64(2), object(17)
memory usage: 16.8+ MB

In [7]:
# Data set description
data.describe()

,thumbnail_width,thumbnail_height,category_id,view,like,dislike,favorite,comment
count,34050.0,34050.0,87172.000000,8.716200e+04,8.633100e+04,53630.000000,87172.0,8.678800e+04
mean,480.0,360.0,18.579326,3.762438e+06,1.755848e+05,4561.291535,0.0,1.427810e+04
std,0.0,0.0,6.985279,1.200179e+07,6.273486e+05,17034.843541,0.0,1.361006e+05
min,480.0,360.0,1.000000,1.528200e+04,1.600000e+01,0.000000,0.0,0.000000e+00
25%,480.0,360.0,10.000000,3.945315e+05,9.341500e+03,190.000000,0.0,5.907500e+02
50%,480.0,360.0,22.000000,1.023036e+06,2.889900e+04,578.000000,0.0,1.843000e+03
75%,480.0,360.0,24.000000,2.579029e+06,9.922000e+04,1999.000000,0.0,5.677000e+03
max,480.0,360.0,29.000000,3.359576e+08,1.700526e+07,433282.000000,0.0,7.195733e+06

In [8]:
# Show unique values of each columns
count_unique(data.columns)

<-- Unique Value Counter -->
video_id - 5234 value
publish_time - 15875 value
channel_id - 2575 value
title - 16297 value
description - 14370 value
thumbnail_url - 5234 value
thumbnail_width - 2 value
thumbnail_height - 2 value
channel_name - 2629 value
tags - 10233 value
category_id - 15 value
live_status - 1 value
local_title - 16297 value
local_description - 14370 value
duration - 3434 value
dimension - 1 value
definition - 2 value
caption - 2 value
license_status - 2 value
allowed_region - 75 value
blocked_region - 141 value
view - 85908 value
like - 60180 value
dislike - 10618 value
favorite - 1 value
comment - 20876 value
trending_time - 87172 value

> Beberapa kolom akan di remove karena unique valuenya yang sedikit jadi tidak relevan, kolom tersbut antara lain *thumbnail_width*, *thumbnail_height*, *live_status*, *dimension*, *allow_region*, *blocked_region*, *favorite*

In [9]:
data = data.drop(['thumbnail_width', 'thumbnail_height', 'live_status', 'dimension', 'allowed_region', 'blocked_region', 'favorite'], axis=1)
data.head()

,video_id,publish_time,channel_id,title,description,thumbnail_url,channel_name,tags,category_id,local_title,local_description,duration,definition,caption,license_status,view,like,dislike,comment,trending_time
0,NaN,2021-02-05T09:00:34Z,UCEf_Bc-KVd7onSeifS3py9g,aespa ÏóêÏä§Ìåå 'Forever (ÏïΩÏÜç)' MV,"aespa's new single ""Forever"" is out!\nListen a...",NaN,SMTOWN,NaN,10,aespa ÏóêÏä§Ìåå 'Forever (ÏïΩÏÜç)' MV,"aespa's new single ""Forever"" is out!\nListen a...",PT5M7S,hd,True,True,7806846.0,857902.0,24078.0,94961.0,2021-02-07 05:46:51.832614+00:00
1,NaN,2021-02-04T15:54:08Z,UCYEa4_MC7OFjcWrO6SO-u8g,[FULL] Siapa di Balik Kudeta AHY? | Dua Sisi t...,"Jakarta, https://www.tvonenews.com - Ketua umu...",NaN,Indonesia Lawyers Club,"['tvone', 'tv one', 'tvonenews', 'indonesia la...",25,[FULL] Siapa di Balik Kudeta AHY? | Dua Sisi t...,"Jakarta, https://www.tvonenews.com - Ketua umu...",PT42M30S,hd,False,True,885038.0,6765.0,1263.0,6365.0,2021-02-07 05:46:51.832649+00:00
2,NaN,2021-02-06T03:00:22Z,UCu12RxQjRQyh79YBYvEDkOg,CABRIOLET CHALLENGE: TANTANGAN MENGGODA (7/12),Road Party Season 2: Cabriolet Challenge\n\nEp...,NaN,Motomobi,"['MotoMobi', 'Mobil', 'motor', 'review', 'indo...",2,CABRIOLET CHALLENGE: TANTANGAN MENGGODA (7/12),Road Party Season 2: Cabriolet Challenge\n\nEp...,PT46M43S,hd,False,True,889708.0,47895.0,532.0,8785.0,2021-02-07 05:46:51.832664+00:00
3,NaN,2021-02-05T20:26:08Z,UCCuzDCoI3EUOo_nhCj4noSw,With Windah Basudara & Hans,Join this channel to get access to perks:\nhtt...,NaN,yb,NaN,20,With Windah Basudara & Hans,Join this channel to get access to perks:\nhtt...,PT45M59S,hd,False,True,1006854.0,91973.0,3967.0,12957.0,2021-02-07 05:46:51.832678+00:00
4,NaN,2021-02-03T23:14:54Z,UC14UlmYlSNiQCBe9Eookf_A,ü§Ø LATE COMEBACK DRAMA! | HIGHLIGHTS | Granada ...,"With just two minutes to play, Bar√ßa looked to...",NaN,FC Barcelona,"['FC Barcelona', 'ÿ®ÿ±ÿ¥ŸÑŸàŸÜÿ©ÿå', 'F√∫tbol', 'FUTBOL...",17,ü§Ø LATE COMEBACK DRAMA! | HIGHLIGHTS | Granada ...,"With just two minutes to play, Bar√ßa looked to...",PT5M12S,hd,False,True,6275035.0,218131.0,4289.0,12799.0,2021-02-07 05:46:51.832730+00:00

In [10]:
# Check for null value
data.isnull().sum()

video_id             53122
publish_time             0
channel_id               0
title                    0
description           3778
thumbnail_url        53122
channel_name             0
tags                 12126
category_id              0
local_title              0
local_description     3778
duration                 0
definition               0
caption                  0
license_status           0
view                    10
like                   841
dislike              33542
comment                384
trending_time            0
dtype: int64

> Beberap kolom akan di drop karena null value yang terlalu banyak dan menurut kami kurang relevan kegunaanya pada eksperimen kami, kolomnya antara lain *video_id*, *description*, *thumbnail_url*, *tags*, *local_title*, *local_description*, *channel_id*

In [11]:
data = data.drop(['video_id', 'description', 'thumbnail_url', 'tags', 'local_title', 'local_description', 'channel_id'], axis=1)
data.head()

,publish_time,title,channel_name,category_id,duration,definition,caption,license_status,view,like,dislike,comment,trending_time
0,2021-02-05T09:00:34Z,aespa ÏóêÏä§Ìåå 'Forever (ÏïΩÏÜç)' MV,SMTOWN,10,PT5M7S,hd,True,True,7806846.0,857902.0,24078.0,94961.0,2021-02-07 05:46:51.832614+00:00
1,2021-02-04T15:54:08Z,[FULL] Siapa di Balik Kudeta AHY? | Dua Sisi t...,Indonesia Lawyers Club,25,PT42M30S,hd,False,True,885038.0,6765.0,1263.0,6365.0,2021-02-07 05:46:51.832649+00:00
2,2021-02-06T03:00:22Z,CABRIOLET CHALLENGE: TANTANGAN MENGGODA (7/12),Motomobi,2,PT46M43S,hd,False,True,889708.0,47895.0,532.0,8785.0,2021-02-07 05:46:51.832664+00:00
3,2021-02-05T20:26:08Z,With Windah Basudara & Hans,yb,20,PT45M59S,hd,False,True,1006854.0,91973.0,3967.0,12957.0,2021-02-07 05:46:51.832678+00:00
4,2021-02-03T23:14:54Z,ü§Ø LATE COMEBACK DRAMA! | HIGHLIGHTS | Granada ...,FC Barcelona,17,PT5M12S,hd,False,True,6275035.0,218131.0,4289.0,12799.0,2021-02-07 05:46:51.832730+00:00

In [12]:
# Check for null again
data.isnull().sum()

publish_time          0
title                 0
channel_name          0
category_id           0
duration              0
definition            0
caption               0
license_status        0
view                 10
like                841
dislike           33542
comment             384
trending_time         0
dtype: int64

> Untuk view, like, dislike dan comment kita akan mengisi null value menggunakan rata-rata dari kolom tersebut

In [13]:
# Count mean
view_mean = data['view'].mean()
like_mean = data['like'].mean()
dislike_mean = data['dislike'].mean()
comment_mean = data['comment'].mean()

# Fill null value
data['view'].fillna(value=view_mean, inplace=True)
data['like'].fillna(value=like_mean, inplace=True)
data['dislike'].fillna(value=dislike_mean, inplace=True)
data['comment'].fillna(value=comment_mean, inplace=True)

data.isnull().sum()

publish_time      0
title             0
channel_name      0
category_id       0
duration          0
definition        0
caption           0
license_status    0
view              0
like              0
dislike           0
comment           0
trending_time     0
dtype: int64

In [14]:
# Check definition unique value
data.definition.unique()

array(['hd', 'sd'], dtype=object)

> Untuk kolom definition, caption dan license_status yang tipenya binomial akan kita ubah menjadi numerikal 0 dan 1

In [15]:
# Replacing categorical to numerical
data['definition'].replace(['hd', 'sd'], [0, 1], inplace=True)
data['caption'] = data['caption'].astype(int)
data['license_status'] = data['license_status'].astype(int)

data.head()

,publish_time,title,channel_name,category_id,duration,definition,caption,license_status,view,like,dislike,comment,trending_time
0,2021-02-05T09:00:34Z,aespa ÏóêÏä§Ìåå 'Forever (ÏïΩÏÜç)' MV,SMTOWN,10,PT5M7S,0,1,1,7806846.0,857902.0,24078.0,94961.0,2021-02-07 05:46:51.832614+00:00
1,2021-02-04T15:54:08Z,[FULL] Siapa di Balik Kudeta AHY? | Dua Sisi t...,Indonesia Lawyers Club,25,PT42M30S,0,0,1,885038.0,6765.0,1263.0,6365.0,2021-02-07 05:46:51.832649+00:00
2,2021-02-06T03:00:22Z,CABRIOLET CHALLENGE: TANTANGAN MENGGODA (7/12),Motomobi,2,PT46M43S,0,0,1,889708.0,47895.0,532.0,8785.0,2021-02-07 05:46:51.832664+00:00
3,2021-02-05T20:26:08Z,With Windah Basudara & Hans,yb,20,PT45M59S,0,0,1,1006854.0,91973.0,3967.0,12957.0,2021-02-07 05:46:51.832678+00:00
4,2021-02-03T23:14:54Z,ü§Ø LATE COMEBACK DRAMA! | HIGHLIGHTS | Granada ...,FC Barcelona,17,PT5M12S,0,0,1,6275035.0,218131.0,4289.0,12799.0,2021-02-07 05:46:51.832730+00:00

> Karena duration formatnya masih sesuai standar youtube akan kita ubah menjadi detik

In [16]:
# Check for duplicate
data.duplicated().sum()

0

> Dapat kita lihat tidak ada data yang duplikat

In [18]:
for i in range(len(data['duration'])):
    data['duration'][i] = parse_duration(data['duration'][i]).total_seconds()

data.head()

/var/folders/mz/1l3fv5hn18v74489wk7zp94m0000gp/T/ipykernel_8044/647008316.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['duration'][i] = parse_duration(data['duration'][i]).total_seconds()

,publish_time,title,channel_name,category_id,duration,definition,caption,license_status,view,like,dislike,comment,trending_time
0,2021-02-05T09:00:34Z,aespa ÏóêÏä§Ìåå 'Forever (ÏïΩÏÜç)' MV,SMTOWN,10,307.0,0,1,1,7806846.0,857902.0,24078.0,94961.0,2021-02-07 05:46:51.832614+00:00
1,2021-02-04T15:54:08Z,[FULL] Siapa di Balik Kudeta AHY? | Dua Sisi t...,Indonesia Lawyers Club,25,2550.0,0,0,1,885038.0,6765.0,1263.0,6365.0,2021-02-07 05:46:51.832649+00:00
2,2021-02-06T03:00:22Z,CABRIOLET CHALLENGE: TANTANGAN MENGGODA (7/12),Motomobi,2,2803.0,0,0,1,889708.0,47895.0,532.0,8785.0,2021-02-07 05:46:51.832664+00:00
3,2021-02-05T20:26:08Z,With Windah Basudara & Hans,yb,20,2759.0,0,0,1,1006854.0,91973.0,3967.0,12957.0,2021-02-07 05:46:51.832678+00:00
4,2021-02-03T23:14:54Z,ü§Ø LATE COMEBACK DRAMA! | HIGHLIGHTS | Granada ...,FC Barcelona,17,312.0,0,0,1,6275035.0,218131.0,4289.0,12799.0,2021-02-07 05:46:51.832730+00:00

## Exploratory Data Analysis